# History files
*.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData

# RStudio files
.Rproj.user/
.Rproj.user

curvenumber.Rproj
tests/*
*.tar.gz

# Temporarily ignore inst sub-folders
inst/extdata/*
inst/HESSpaper/*
